[client-server]
socket = /run/mysqld/mysqld.sock

[mysqld]
user = root
datadir = /var/lib/mysql
port = 3306
log-bin = /var/lib/mysql/mysql-bin
bind-address = 127.0.0.1
socket = /run/mysqld/mysqld.sock
skip-networking = false
skip_external_locking
skip_name_resolve

[mysql]
port = 3306
socket = /run/mysqld/mysqld.sock